
 

  
<mat-toolbar color="primary"> 
      <mat-toolbar-row>  
            <button mat-icon-button > 
                  <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
            </button>
            {{title}}
      </mat-toolbar-row>
</mat-toolbar> 
 
<mat-sidenav-container> 
      <mat-sidenav #sidenav opened="true" mode="side"> 
            <mat-nav-list>  

                  <a   mat-list-item routerLink=""  routerLinkActive="active">Home</a>
                  <a   mat-list-item routerLink="/basic"  routerLinkActive="active" >Basic</a>
                  <a   mat-list-item routerLink="/scroll-stack"  routerLinkActive="active" >Scroll-Stack</a> 
                  <a   mat-list-item routerLink="/async-server-side"  routerLinkActive="active" >Async-Server-Side</a>     
                  <a   mat-list-item routerLink="/server-side"  routerLinkActive="active" >Server-Side</a>    

            </mat-nav-list>
      </mat-sidenav> 
       
      <mat-sidenav-content> 
             
           <div style="height: 88vh;"><router-outlet></router-outlet></div> 
      </mat-sidenav-content>
</mat-sidenav-container>
      
            <!--<button mat-raised-button  color="primary" routerLink=""  routerLinkActive="active">Home</button>
            <button mat-raised-button color="accent" routerLink="/basic"  routerLinkActive="active" >Basic</button>
            <button mat-raised-button color="warn" routerLink="/scroll-stack"  routerLinkActive="active" >Scroll-Stack</button> 
            <button mat-raised-button  routerLink="/async-server-side"  routerLinkActive="active" >Async-Server-Side</button> -->
        

  

  
   